prune **
graft cmake/
graft pybind/
graft src/
prune src/tests
include AUTHORS COPYING COPYING.LESSER LICENSE.md
include pyproject.toml setup.py CMakeLists.txt
include version.txt version_date.txt version_forces.txt
global-exclude __pycache__ *.py[co] *.so *.mod
exclude pybind/mhm/mhm
exclude cmake/.gitrepo
graft forces/
prune forces/doc
prune forces/hpc-module-loads
prune forces/src/pf_tests
prune forces/.git
exclude forces/cmake/.gitrepo
exclude forces/.git*
