/* Sets properties of images in HTML */
div.image img{ 
        /* border:1px solid #5555FF; */
        width:400px; 
} 

/* Sets properties of image captions in HTML */
div.image div.caption{ 
        font:"Times New Roman",Georgia,Serif; 
        font-size: medium; 
        font-weight: bold; 
        /* color:#5555FF; */
} 