html {
  --top-height: 165px;
}
/* Sets properties of images in HTML */
div.image img{
        /* border:1px solid #5555FF; */
        width:500px;
}

/* Sets properties of image captions in HTML */
div.image div.caption{
        font:"Times New Roman",Georgia,Serif;
        font-size: medium;
        font-weight: bold;
        /* color:#5555FF; */
}

/* maximal table width */
table.markdownTable, table.fieldtable {
  width: 100%;
}
table.markdownTable td:last-child, table.markdownTable th:last-child, table.fieldtable dt:last-child {
  width: 100%;
}
